/*!
global > color
------------------------------
*/
:root {
    --color-font-base: #49515f;
    --color-font-light-base: #9a9eac;
    --color-font-primary: #1e4aa4;
    --color-font-white: #ffffff;

    --color-bg-primary: #1e4aa4;
    --color-bg-darkblue: #222a38;
    --color-bg-cta: linear-gradient(-30deg, #254da0, #0772d1);
    --color-bg-lightest-blue: #f5f8fb;
    --color-bg-light-grey: #eaecef;
    --color-bg-white: #ffffff;
    --color-bg-white-transparent: rgb(255 255 255 / 0.2);

    --color-other-link: #497fdf;
    --color-other-logo: #e5ebf0;
    --color-other-logo: #06235e;
    --color-sep-lightgrey: #eeeeee;

    --color-red: #c82b2b;
}
