/*!
global > z-index
------------------------------
*/
:root {
    --z-index-modal: 1000;
    --z-index-header: 500;
    --z-index-menu: 400;
    --z-index-section: 200;
    --z-index-kv: 100;
    --z-index-default: 1;
    --z-index-negative: -1;
}
