@use '../global' as g;

/*!
component > breadcrumb
------------------------------
*/
.c-breadcrumb-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.c-breadcrumb-item {
    font-size: 14rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        &::after {
            content: '';
            display: block;
            width: 9rem;
            aspect-ratio: 1;
            background-color: var(--color-bg-primary);
            mask-image: url('../img/icon-arrow.svg');
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            margin-inline: 16rem;
        }
    }
}

.c-breadcrumb-item--current {
    color: var(--color-font-primary);
}
