@use '../global' as g;

/*!
component > tableItem
------------------------------
*/
.c-tableItem {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-top: 1rem solid rgb(51 51 51 / 0.1);
    padding: 24rem 0;

    @include g.mq() {
        flex-direction: row;
        align-items: center;
        gap: 0;
        padding: 32rem 0;
    }

    &:last-child {
        border-bottom: 1rem solid rgb(51 51 51 / 0.1);
    }
}

.c-tableItem-label {
    font-weight: 700;
    line-height: 1.5;

    @include g.mq() {
        min-width: 160rem;
    }
}

.c-tableItem-label--large {
    @include g.mq() {
        min-width: 224rem;
    }
}

.c-tableItem-data {
}
