@use '../../global' as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
    display: grid;
    gap: 40rem;
    padding: 64rem 20rem;
    margin: -32rem 0 0 20rem;
    border-radius: 32rem 0 0 0;
    position: relative;
    z-index: var(--z-index-section);
    background-color: var(--color-bg-white);

    @include g.mq() {
        padding: 64rem 80rem;
        margin-left: 70rem;
        border-radius: 56rem 0 0 0;
        gap: 0 80rem;
        grid-template-columns: 200rem 1fr;
    }
}

.top-news-heading {
    @include g.mq() {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

.top-new-list {
    @include g.mq() {
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

.top-news-button {
    justify-self: flex-end;

    @include g.mq() {
        grid-row: 2/3;
        grid-column: 1/2;
        align-self: flex-end;
    }
}
