@use '../../global' as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
    // TODO: 完成後に100svhに変更
    height: 680rem;
    background-image: url('../img/top/bg-kv-sp.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 104rem;
    position: relative;
    z-index: var(--z-index-kv);

    @include g.mq() {
        height: 800rem;
        background-image: url('../img/top/bg-kv.png');
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to bottom,
            transparent 30%,
            rgb(0 20 61 / 0%) 30%,
            rgb(0 20 61 / 100%) 100%
        );
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--z-index-negative);
    }
}

.top-kv-inner {
    @include g.mq() {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

.top-kv-text-ja {
    font-size: 30rem;
    line-height: calc(43 / 30);
    color: var(--color-font-white);
    margin-top: 32rem;

    @include g.mq() {
        font-size: 55rem;
        line-height: calc(80 / 55);
        margin-top: 0;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    span {
        display: block;
    }
}

.top-kv-text-en {
    color: var(--color-font-white);
    opacity: 0.68;
    font-size: 18rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-family-en);
    margin-top: 8rem;

    @include g.mq() {
        font-size: 20rem;
        line-height: 1.7;
        margin-top: 24rem;
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

.top-kv-indicator {
    display: block;
    width: 104rem;
    aspect-ratio: 1;
    border-radius: 100vh;
    border: 1.4rem solid rgb(255 255 255 / 0.25);
    display: grid;
    place-items: center;

    font-family: var(--font-family-en);
    font-weight: 400;
    font-size: 25.6rem;
    letter-spacing: 0.05em;
    line-height: calc(30 / 25.6);
    color: var(--color-font-white);

    @include g.mq() {
        width: 146rem;
        font-size: 36rem;
        line-height: calc(42 / 36);
        grid-row: 1/3;
        grid-column: 2/3;
        align-self: flex-end;
    }
}
